<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <form method="POST" action="/signatures/sign">
        <input type="hidden" value="{{ .SessionId }}" name="sessionId"/>
        <label for="pwd">Password</label>
        <input type="password" id="pwd" name="password">
        <input type="submit" value="Sign"/>
    </form>
</body>
</html>